.window{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    padding: 10px;

}
.paperclip{
    right: calc(-100px + 20%);
    position: absolute;
    z-index: 1;
}
.earth{
    position: absolute;
    left: -300px;
    top: -200px;
    z-index: -3;
}

.gondola{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -2;
}

.ebin{
    position: absolute;
    right: 100px;
    top: 50px;
    z-index: -1;
    color: #eaeaea;
}

.reply{
    z-index: 1;
}

.user_reply{
    top: 10px;
    color: #eeeeee;
    background-color: #111111;
    opacity: 0.8;
    position: relative;
}

tr{ width: 100%;}

.user_reply_header{
    background-color: #111111;
    color: #ccac00;
    width: 100%;
    border-top: 6px solid #653800;
}


textarea{
    width: 100%;
    height: 200px;
    border: None;
    opacity: .9;
    background-color: #111111;
    position: relative;
    color: #ccac00;
}

.message_{
    top: 60px;
    position: absolute;
}
.name{
    width: 100%;
    border: None;
    opacity: .9;
    background-color: #111111;
    color: #ccac00;
}
.subject{
    width: 100%;
    border: None;
    opacity: .9;
    background-color: #111111;
    color: #ccac00;
}
.sa{
    width: 100%;
    border: None;
    opacity: .9;
    background-color: #111111;
    color: #ccac00;
}
.ext{
    width: 100%;
    border: None;
    opacity: .9;
    background-color: #111111;
    color: #ccac00;

}

body{
    background-image: url("spacestack.png");
    font-family: arial;
    background-repeat: repeat;
    z-index: 0;
}

.user_reply_text{
    padding: 3px;
}
table{
    width: 100%;
}
.page_container{
    width: 75%;
    padding: 0px;


    margin-left: auto;
    margin-right: auto;

    
}

.replys:{
    padding-top: 30px;
}
.header_main{
    top: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1;
    background-color: #111111;
    border: 1px solid #ccac00;
    color: #ccac00;
    left: 0px;

}



.header_link{
    color: #ccac00;
    text-decoration: None;
    width: 100px;
    transition: 1s;
}
.header_link:visited{
    color: #ccac00;
    text-decoration: None;
}
.header_link:hover{
    color: #ccac00;
    text-decoration: None;
}
.header_link:active{
    color: #ccac00;
    text-decoration: None;
}
.greentext{
    color: #11ee11;
    display: inline;
    }

.h_id{
    text-align: right !important;
    color: #ccac00;
}
.h_sub{
    text-align: center;
}
.h_name{
    color: #0079bf;
}
