.window{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    border-left: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    padding: 10px;
    background-color: #eeeeee;
}
.paperclip{
    right: calc(-100px + 20%);
    position: absolute;
    z-index: 1;
}

.reply{
    z-index: 1;
}

.user_reply{
    top: 10px;
    color: #eeeeee;
    background-color: #eeeeee;
    position: relative;
}

tr{ width: 100%;}

.user_reply_header{
    background-color: #eeeeee;
    color: #191919;
    width: 100%;
    border-top: 1px solid #9e9e9e;
}


textarea{
    width: 100%;
    height: 200px;
    border: None;
    border: 1px solid #9e9e9e; 
    background-color: #eeeeee;
    position: relative;
    color: #191919;
}

.message_{
    top: 60px;
    position: absolute;
}
.name{
    width: 100%;
    border: None;
    border: 1px solid #9e9e9e; 
    background-color: #eeeeee;
    color: #191919;
}
.subject{
    width: 100%;
    border: None;
    border: 1px solid #9e9e9e;
    background-color: #eeeeee;
    color: #191919;
}
.sa{
    width: 100%;
    border: None;
    border: 1px solid #9e9e9e;
    background-color: #eeeeee;
    color: #191919;
}
.ext{
    width: 100%;
    border: None;
    background-color: #eeeeee;
    color: #191919;

}

body{
    background-color: #eeeeee;
    font-family: arial;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.user_reply_text{
    padding: 3px;
}
table{
    width: 100%;
}
.page_container{
    width: 75%;
    padding: 0px;
    border: 1px solid #eeeeee;

    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    
}

.replys:{
    padding-top: 30px;
}
.header_main{
    top: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1;
    background-color: #eeeeee;
    border: 1px solid #9e9e9e;
    color: #191919;
    left: 0px;

}



.header_link{
    color: #191919;
    text-decoration: None;
    width: 100px;
    transition: 1s;
}
.header_link:visited{
    color: #191919;
    text-decoration: None;
}
.header_link:hover{
    color: #191919;
    text-decoration: None;
}
.header_link:active{
    color: #191919;
    text-decoration: None;
}
.greentext{
    color: #11ee11;
    display: inline;
    }

.h_id{
    text-align: right !important;
    color: #ccac00;
}
.h_sub{
    text-align: center;
}
.h_name{
    color: #0079bf;
}
