<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <title>G O N D O L A</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="page_container">
      <div class="header_main">
        <a href="/" class="header_link">Reload</a>
      </div>
      <img src ="{{ url_for('static', filename='gondolainspace_pix.png') }}" class="gondola" alt="gondola"></img>
      <div class="window">
	<div class="reply">
          <form method="post" action="/">
            <table>
              <tr><td><input class="name" value="Anonymous" type="text" name="reply_name"/></td></tr>
              <tr><td><textarea name="reply_message"></textarea></td></tr>
              <tr><td><input class="sa" value="Bump" type="text" name="reply_sa"/></td></tr>
              <tr><td><input type="submit" value="post"/></td></tr>
            </table>
          </form>
	</div>


	<div class="replys">
          {% for item in replys %}
          {% autoescape false %}
          {{ item }}<br>
          {% endautoescape %}
          {% endfor %}
	</div>
      </div>
    </div>
  </body>
</html>
